@charset "UTF-8";

@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Rubik+Glitch&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

/* font-family: 'Playfair Display', serif;
font-family: 'Rubik Glitch', system-ui;
font-family: 'Work Sans', sans-serif; */


:root {
  --background-color: #f5c09e;
  --font-size-bigger: 12rem; /* 사이즈 가늠해서 수정하기! */
  --font-size-big: 10rem; /* 사이즈 가늠해서 수정하기! */
  --font-size-medium: 5rem; /* 사이즈 가늠해서 수정하기! */
  --font-size-small: 2.5rem; /* 사이즈 가늠해서 수정하기! */
  --font-size-smaller: 1rem; /* 사이즈 가늠해서 수정하기! */
  --fixed-strong: 1000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  font-family: "Work Sans", sans-serif;
}
#main {
}
#section1 {
  position: relative;
  background: url(../img/sec1BG.jpg) no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
#section2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#section3 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
#section4 {
  display: flex;
  position: relative;
  width: 100vw;
  overflow: hidden;
}
#section5 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../img/paper.jpg) no-repeat center;
  background-size: cover;
}
#section6 {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* -------------------------section1------------------------------------ */
#section1 .logo {
  width: 60vw;
  padding-top: 20px;
  filter: invert(1);
  mix-blend-mode: difference;
  margin-left: 7%;
}
#section1 .logo a {
}
#section1 .logo a img {
  width: 100%;
}
.imgwrap {
}
.imgwrap > img {
  position: absolute;
  width: 280px;
  bottom: 7vw;
  cursor: pointer;
  z-index: 15;
}

/* 클릭하면 배경이 바뀌는 이미지 */
.sec1_img1 {
  left: 10%;
  transform: rotate(349deg);
}
.sec1_img2 {
  left: 25%;
  transform: rotate(3deg);
  z-index: 5;
}
.sec1_img3 {
  left: 39%;
  transform: rotate(11deg);
}
.clBtn {
  color: #fff;
  font-size: 1.2rem;
  display: none;
  z-index: 20;
}

/* 장식 */
.barcode {
  position: absolute;
  width: 150px;
  bottom: 0.8vw;
  left: 1.7vw;
  z-index: 10;
}
.barcode img {
  width: 100%;
}
.barcode h5 {
  color: #fff;
  margin-left: 7px;
  font-size: var(--font-size-smaller);
}

.decoWrap {}
.deco1 {
  position: absolute;
  right: 23vw;
  top: 77%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
}
.deco2 {
  position: absolute;
  right: 23vw;
  top: 77%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.deco3 {
  position: absolute;
  width: 250px;
  right: 7vw;
  top: 7vw;
  opacity: 0.5;
}
.deco3 img {
  width: 100%;
}

.menu_logo {
  position: absolute;
  top: 5%;
  left: 18vw;
  width: 600px;
  filter: invert(1);
}

/* s1 퀵메뉴 */
.menu_logo img {
  width: 100%;
}
.s1_menu {
  margin-left: 18vw;
  margin-top: 30px;
}
.s1_menu li {
  position: relative;
  margin-bottom: 25px;
  width: 400px;
}
.s1_menu li::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: var(--background-color);
  transition: 0.3s;
}
.s1_menu li a {
  color: #fff;
  font-size: var(--font-size-small);
  font-weight: 600;
  transition: 0.3s;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.4);
}
.s1_menu li:hover a {
  color: var(--background-color);
}
.s1_menu li:hover::after {
  width: 100%;
}

/* s1 p */
.s1_p_wrap {
  position: absolute;
  right: 10%;
  top: 50%;
  width: 400px;
  transform: translateY(-50%);
  z-index: 20;
  color: #fff;
  font-size: var(--font-size-small);
}
.p_border {
  border: 2px solid #fff;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  padding: 10px;
}
.s1_p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.s1_p1 {
  transition: 0.3s;
}
.s1_p2 {
  transform: rotateX(90deg);
  transition: 0.3s;
}
.s1_p3 {
  transform: rotateX(90deg);
  transition: 0.3s;
}
.s1_p4 {
  transform: rotateX(90deg);
  transition: 0.3s;
}



/* nav */
#nav {
  position: fixed;
  width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0 20px;
  z-index: var(--fixed-strong);
  font-size: var(--font-size-smaller);
  display: none;
}
#nav .logo2 {
  width: 200px;
  filter: invert(1);
}
#nav .logo2 a {
}
#nav .logo2 a img {
  width: 100%;
}

#nav .gnb {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
}
.gnb li {
}
.gnb li a {
  color: #fff;
  font-weight: 600;
}

/* section2 */
.s2_cont_wrap {
  display: flex;
}
.s2_cont_wrap > div {
  width: 50%;
}
.s2_left {
}
.s2_left > div {
  padding-top: 8rem;
}
.marquee1Wrap {
  transform: rotate(-7deg);
}
.marquee1 {
  width: 300%;
  display: flex;
}
.marquee1 img {
  width: 300px;
}

.marquee2Wrap {
  width: 300%;
  transform: rotate(2deg);
}
.marquee2 {
  display: flex;
  justify-content: flex-end;
}
.marquee2 img {
  width: 300px;
}

.s2_right {
  position: relative;
  z-index: 100;
}
/* .s2_right img {
    width: 100%;
} */

.s2_right P {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-smaller);
  color: #fff;
  pointer-events: none;
  opacity: 0.4;
}

#section2 .s2_cont_wrap .new_circle {
  position: absolute;
  width: 500px;
  left: 42%;
  bottom: -152px;
  z-index: 100;
  animation: ani1 20s linear infinite;
}
.new_circle {
  pointer-events: none;
}
.new_circle img {
  width: 100%;
}

.sec2_deco1 {
  position: absolute;
  top: 6vw;
  left: 38%;
  width: 150px;
  z-index: 100;
  transition: 0.3s;
}
.sec2_deco1:hover {
  mix-blend-mode: difference;
  transform: rotate(100deg) scale(1.5);
}
.sec2_deco1 img {
  width: 100%;
}
.sec2_deco2 {
  position: absolute;
  bottom: 2%;
  left: 2%;
  width: 500px;
  transition: 0.2s;
}
.sec2_deco2 img {
  width: 100%;
}
.sec2_deco3 {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke: #222 1px;
  color: transparent;
  font-size: var(--font-size-big);
  z-index: -1;
}

.sec2_deco4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(346deg);
  left: 2%;
  -webkit-text-stroke: #fff 1px;
  color: transparent;
  font-size: var(--font-size-bigger);
}
.sec2_deco5 {
  position: absolute;
  top: 40%;
  right: -12%;
  width: 500px;
  transform: rotate(90deg);
  z-index: 100;
  transition: 0.2s;
}
.sec2_deco5 img {
  width: 100%;
}

.sec2_deco2:hover {
  filter: invert(1);
}
.sec2_deco5:hover {
  filter: invert(1);
}

@keyframes ani1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* ------------------------------------section3------------------------------------ */
.s3_video {
  width: 100%;
  height: 88%;
  overflow: hidden;
}
.s3_video video {
  width: 100%;
  padding-top: 12vh;
}
.sec3_top {
  position: absolute;
  width: 300%;
  top: 55px;
  left: 0%;
  font-size: var(--font-size-medium);
  color: #fff;
}
.sec3_bottom {
  position: absolute;
  width: 300%;
  bottom: 55px;
  left: -50%;
  font-size: var(--font-size-medium);
  color: #fff;
}
#section3 .rect {
  position: absolute;
  width: 10px;
  height: 170px;
  background-color: #fff;
  color: #fff;
  z-index: 10;
}
#section3 .rect1 {
  top: 22%;
  left: 5%;
}
#section3 .rect2 {
  bottom: 17%;
  left: 12%;
}
#section3 .rect3 {
  right: 35%;
  bottom: 35%;
}
#section3 .rect p {
  width: 400px;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 1.5rem;
}
.mouse_imgWrap {
}
.mouse_imgWrap > img {
  position: absolute;
  width: 400px;
  display: none;
  transition-timing-function: ease-in-out;
  z-index: 15;
}
.s3_rect_img1 {
  width: 350px !important;
}
.s3_rect_img2 {
  height: 400px;
  object-fit: cover;
}
.s3_rect_img3 {
}

#section3 .decoWrap {
}
#section3 .decoWrap > div {
  position: absolute;
}
.sec3_deco1 {
  width: 130px;
  top: 48%;
  left: 12%;
  opacity: 0.6;
  transition: 0.3s;
}
.sec3_deco1:hover {
  filter: invert(1);
  transform: rotate(-90deg) scale(1.3);
}
.sec3_deco2 {
  top: 20%;
  right: 15%;
  width: 200px;
  transform: rotate(-19deg);
  opacity: 0.6;
  transition: 0.3s;
}
.sec3_deco2:hover {
  filter: invert(1);
  transform: rotate(19deg) scale(1.3);
}

.sec3_deco1 img,
.sec3_deco2 img {
  width: 100%;
}

/* ------------------------------section4--------------------------------- */
.sec4_wrap {
  display: flex;
}
.s4_left {
  justify-content: space-between;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.sec4_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
}
.s4_right {
  width: 50%;
}
.desingner_name {
  color: #fff;
  font-size: 4rem;
  mix-blend-mode: difference;
  font-weight: 600;
  padding: 200px 0 30px 30px;
}
.descWrap {
  padding: 100px 30px 0 0;
}
.s4_desc {
  color: #fff;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 20px;
}
.s4_right img {
  width: 100%;
  vertical-align: middle;
}

/* ------------------------section5--------------------------------- */
.product_wrap {
  display: flex;
  flex-wrap: nowrap;
  width: 1000%;
  gap: 20px;
  color: #1f1f1f;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  height: 350px;
  gap: 10px;
  margin-top: 5vw;
  margin-left: 30px;
}
.product-card img {
  width: 100%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.s5_img_wrap {
  overflow: hidden;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.product-card img:hover {
  transform: scale(1.3);
}
.s5_bag_name {
  font-size: 0.8rem;
}
.s5_price {
  font-size: 0.8rem;
}
.colorchip {
  display: flex;
  gap: 10px;
}
.colorchip .chip1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow:  1px 1px 3px rgba(0, 0, 0, 0.4);
}
.colorchip .chip2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow:  1px 1px 3px rgba(0, 0, 0, 0.4);
}
.product-card1 .chip1,
.product-card8 .chip1 {
  background-color: #ebc096;
}
.product-card1 .chip2,
.product-card8 .chip2 {
  background-color: #840215;
}

.product-card2 .chip1,
.product-card9 .chip1 {
  background-color: #d6d4d0;
}
.product-card2 .chip2,
.product-card9 .chip2 {
  background-color: #272725;
}

.product-card3 .chip1,
.product-card10 .chip1 {
  background-color: #d6b292;
}

.product-card4 .chip1,
.product-card11 .chip1 {
  background-color: #d9cfc5;
}
.product-card4 .chip2,
.product-card11 .chip2 {
  background-color: #ebc096;
}

.product-card5 .chip1,
.product-card12 .chip1 {
  background-color: #f68b95;
}
.product-card5 .chip2,
.product-card12 .chip2 {
  background-color: #ebc096;
}

.product-card6 .chip1,
.product-card13 .chip1 {
  background-color: #4b7464;
}
.product-card6 .chip2,
.product-card13 .chip2 {
  background-color: #d6b292;
}

.product-card7 .chip1,
.product-card14 .chip1 {
  background-color: #ebc096;
}
.product-card7 .chip2,
.product-card14 .chip2 {
  background-color: #840215;
}

.deco_img {
  height: 300px;
  margin-top: 7vw;
  margin-left: 30px;
}
.deco_img img {
  height: 100%;
}

/* cube */
.cube {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  perspective: 1000px;
  z-index: 100;
}
.cube_wrap {
}
.box-area {
  position: relative;
  transform-style: preserve-3d;
  width: 36vw;
  height: 36vh;
  transform: rotateX(0deg) rotateY(0deg);
}
.box-area .box {
  position: absolute;
  width: 36vw;
  height: 36vh;
  transform-style: preserve-3d;
  display: flex;
  font-size: 3rem;
  justify-content: flex-end;
  align-items: flex-end;
}
.box img {
  width: 12vw;
  padding: 30px;
}
.box_front {
  background: url(../img/12315231.jpg) no-repeat bottom;
  background-size: cover;
  transform: translateZ(18vw);
}
.box_right {
  background: url(../img/21231ddd.jpg) no-repeat bottom;
  background-size: cover;
  transform: rotateY(-90deg) translateZ(-18vw);
}
.box_back {
  background: url(../img/23121dfdfdf.jpg) no-repeat center;
  background-size: cover;
  transform: translateZ(-18vw);
}
.box_left {
  background: url(../img/5511sd5.jpg) no-repeat top;
  background-size: cover;
  transform: rotateY(90deg) translateZ(-18vw);
}
.cube .cube_wrap .box-area .box_bottom {
  position: relative;
  background-color: var(--background-color);
  /* transform: rotateX(90deg) translateZ(6.5vw); */
  transform: rotateX(90deg);
  width: 100vw;
  height: 100vh;
}

/* video */
.s5_videoWrap {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 30vw;
}
.s5_video {
  width: 100%;
}



/* keyword */
#section5 .keyword {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  display: flex;
  width: 100%;
  z-index: 120;
  pointer-events: none;
}
#section5 .keyword .key1,
#section5 .keyword .key2 {
  font-size: 20vw;
  transform: rotate(60deg);
  font-weight: 500;
}

/* deco */
.s5_decoWrap {}
.s5_deco {
  position: absolute;
  width: 15vw;
  opacity: 0.6;
}
.s5_deco img {
  width: 100%;
}
.s5_deco1 {
  top: 2vw;
  left: 4vw;
  transform: rotate(-15deg);
  transition: 0.3s;
}
.s5_deco2 {
  top: 52vh;
  right: 30vw;
  transform: rotate(10deg);
  z-index: -1;
}
.s5_deco3 {
  bottom: 10vh;
  right: -1vw;
  transform: rotate(-15deg);
  transition: 0.3s;
}
.s5_deco4 {
  width: 11vw;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.s5_deco5 {
  width: 5vw;
  top: 2vh;
  right: 7vw;
  opacity: 1;
  transform: rotate(10deg);
  transition: 0.3s;
}


.s5_deco1:hover {
  transform: rotate(-15deg) translateX(20px);
}

.s5_deco3:hover {
  transform: translateY(-20px);
}
.s5_deco4:hover {
  transform: translate(-20px,20px);
}
.s5_deco5:hover {
  transform: rotate(10deg) translateX(20px);
}





/* --------------------------section6----------------------- */
.s6_left {
  position: relative;
  width: 55%;
}
.s6_right {
  width: 45%;
}
/* swiper */
.swiper {
  width: 90%;
  height: 90%;
  padding-top: 20px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev {
  color: #292929;
}
.swiper-button-next {
  color: #292929;
}
.swiper-slide {
  position: relative;
}

/* swiper 내용물 배치 */
.swiper-slide .model {
  width: 38vw;
}
.cloth .jaket {
  position: absolute;
  width: 24vw;
  top: 0;
  left: 0;
  transform: rotate(-15deg);
}
.cloth .bag {
  position: absolute;
  width: 24vw;
  bottom: 0;
  left: 0;
  transform: rotate(12deg);
}
.cloth .shoes {
  position: absolute;
  width: 24vw;
  bottom: 0;
  right: 0;
  transform: rotate(-5deg);
}
/* stroke */
.stroke {}
.stroke>div {
  position: absolute;
  background-color: #fff;
}
.stroke_top {
  width: 60%;
  height: 3px;
  top: 5%;
  left: 20%;
}
.stroke_left {
  width: 3px;
  height: 90%;
  left: 20%;
  top: 5%;
}
.stroke_right {
  width: 3px;
  height: 90%;
  right: 20%;
  top: 5%;
}
.stroke_bottom {
  width: 60%;
  height: 3px;
  bottom: 5vh;
  left: 20%;
}
/* deco */
.s6_decoWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  color: #fff;
}
.megz_title {
  position: absolute;
  font-size: var(--font-size-medium);
  top: 3vh;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  z-index: -1;
}
.megz_desc {
  position: absolute;
  top: 25vh;
  right: 10vw;
  width: 16vw;
  font-size: var(--font-size-smaller);
  z-index: -1;
}
.megz_deco {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: var(--font-size-small);
  font-family: 'Rubik Glitch', system-ui;
  text-align: center;
}
.megz_month {
  position: absolute;
  top: 50%;
  left: 3vw;
  font-size: var(--font-size-bigger);
  /* font-family: 'Work Sans', sans-serif; */
}

/* right */
.s6_right {
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: flex-start;
  padding-right: 60px;
  font-family: 'Playfair Display', serif;
}
.s6_title {
  font-size: 3.6rem;
  font-weight: 600;
}
.s6_subtitle {
  font-size: 2rem;
}
.s6_desc {
  font-size: 1.7rem;
  line-height: 2;
}