@charset "UTF-8";

@import url(reset.css);@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');



:root {
    --background-color : #FEBE98;
    --font-size-big: 10rem; /* 사이즈 가늠해서 수정하기! */
    --fixed-strong: 1000;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background-color);
    font-family: 'Work Sans', sans-serif;
}
#main {}
#section1 {
    position: relative;
    background: url(../img/sec1BG.jpg) no-repeat center right;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#section2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#section3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 3px solid red;
}
#section4 {
    position: relative;
    width: 100vw;
    height: 100vh;
}



/* section1 */
#section1 .logo {
    width: 60vw;
    padding-top: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
    margin-left: 7%;
}
#section1 .logo a {}
#section1 .logo a img {
    width: 100%;
}
.imgwrap {}
.imgwrap>img {
    position: absolute;
    width: 280px;
    bottom: 7vw;
}
.imgwrap>img:hover {
    transform: scale(1.5);
}
.sec1_img1 {
    left: 10%;
    transform: rotate(349deg);
}
.sec1_img2 {
    left: 25%;
    transform: rotate(3deg);
    z-index: 5;
}
.sec1_img3 {
    left: 39%;
    transform: rotate(11deg);
}
.barcode {
    position: absolute;
    width: 150px;
    bottom: 0.8vw;
    left: 1.7vw;
    z-index: 10;
}
.barcode img {
    width: 100%;
}

/* nav */
#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 0 20px;
    z-index: var(--fixed-strong);
}
#nav .logo2 {
    width: 200px;
    filter: invert(1);
}
#nav .logo2 a {}
#nav .logo2 a img {
    width: 100%;
}

.gnb {
    display: flex;
    gap: 30px;
    text-transform: uppercase;
}
.gnb li {}
.gnb li a {
    color: #fff;
    font-weight: 600;
}



/* section2 */
.s2_cont_wrap {
    display: flex;
}
.s2_cont_wrap>div {
    width: 50%
}
.s2_left {}
.s2_left>div {
    padding-top: 8rem;
}
.marquee1Wrap {
    transform: rotate(-7deg);
}
.marquee1 {
    display: flex;
}
.marquee1 img {
    width: 300px;
}

.marquee2Wrap {
    transform: rotate(2deg);
}
.marquee2 {
    display: flex;
    justify-content: flex-end;
}
.marquee2 img {
    width: 300px;
}


.s2_right {
    position: relative;
    z-index: 100;
}
.s2_right img {
    width: 100%;
}


#section2 .s2_cont_wrap .new_circle {
    position: absolute;
    width: 500px;
    left: 42%;
    bottom: -152px;
    z-index: 100;
    animation: ani1 20s linear infinite;
}
.new_circle img {
    width: 100%;
}

@keyframes ani1 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}



/* section3 */
.s3_video {
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.s3_video video {
    width: 100%;
}